body {
    margin: 0;
}

.header{
    position: sticky;
    top: 0;
    background-color: white;
}

.list1 {
    margin-right: 10px;
    display: inline-block;
    padding-right: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #909090
}

ul {
    list-style: none;
    margin-top: -41px;
    margin-left: 267px;
    padding-left: 22px;
}

.logo {
    padding-left: 120px;
    padding-top: 13px;
}

.header-lists2 {
    padding-left: 720px;
    padding-top: 9px;

}

.list2 {
    margin-right: -21px;
    display: inline-block;
    padding-right: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #909090;
}

.fa-solid fa-user{
    padding-left: 55px;
}

.banner1 {
    background: url("images/bmw1.jpg");
    height: 525px;
    margin-top: 7px;
}

.banner1text {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 49px;
    font-weight: 500;
    padding-left: 130px;
    padding-top: 132px;

}

#btn {
    background-color: #1c69d4;
    color: white;
    height: 50px;
    width: 175px;
    font-size: 14px;
    border-radius: 3px;
}

.button {
    padding-top: 27px;
    padding-left: 124px;
}

.list3 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 83px;
    font-family: sans-serif;
    margin-top: 72px;
}

.model-list {
    margin-left: -185px;
    width: 976px;
    background-color: white;
    margin-top: 41px;
}

#btn2 {
    background-color: #1c69d4;
    color: white;
    height: 50px;
    width: 175px;
    font-size: 14px;
    border-radius: 3px;
}

.viewbutton {
    margin-left: 1142px;
    margin-top: -53px;
}

.list4 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 83px;
    font-family: sans-serif;
    margin-top: 72px;
}

.models {
    background-color: white;
    margin-left: -189px;
    
}

.cars1 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #f1f1f1;
}

.cars2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.row1,
.row2 {
    height: 300px;
    width: 300px;
}

.car-text {
    color: #262626;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;

}

p{
margin: 0;
background-color: #f2f2f2;
} 

hr {
    width: 1180px;
}

.footer-table {
    margin-left: 300px;
    margin-top: 50px;
}

#footertablehead {
    font-size: 12px;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footertabledata {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 170px;
    margin-top: 230px;
    cursor: pointer;
}

.footerlabel {
    font-size: 12px;
    color: #8e8e8e;
    line-height: 16px;
    box-sizing: border-box;
    padding-left:150px;
    background-color: white;
}

.footer{
    background-color: #f2f2f2;
}

.footerdiv{
    display: flex;
    flex-direction: column;
    float: left;
    padding: 45px;
}

.footertablediv{
    margin-left: 142px;
    cursor: pointer;
}

.head{
    color: #262626;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
}

.data{
    color: #262626;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
    font-weight: bold;
    padding-bottom: 8px;
}

.cars{
    background-color: #f1f1f1;
    padding-right: 75px;
}

.range{
    background-color: white;
    height: 133px;
    width: 250px;
    margin-top: 50px;
    margin-left: 115px;;
}

.car-banner{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.range-head, .range-price{
    color: #262626;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: bold;
    padding-bottom: 6px;
    background-color: white;
}

.car-text-p{
    color: #262626;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
}
 
.range-head{
text-align: center;
}

.range-price{
    text-align: center;
}

.range-text{
    padding-top: 35px;
}


